.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
body{
    background-image: linear-gradient(rgb(229, 230, 238),rgb(191, 113, 243));
    height: 100vh;
}

h1{
    margin-top: 12px;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.container{
    max-width: 955px;
    /* background-color: aquamarine; */
    border: 2px solid black;
    margin:  auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message{
    background-color: rgb(180, 176, 176);
    width: 25%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 8px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    text-align: center;
    max-width: 1085px;
    display: block;
    margin: auto;
    width: 100%;
}

#messageInp{
    width: 80%;
    border: 2px solid black;
    border-radius: 8px;
    height: 34px;
    outline: none;
    font-size: 22px;
    padding: 5px;
}

.btn{
    width: 10%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px ;
    height: 45px;
    font-weight: bold;
    margin:0px 4px ;
    outline: none;
    font-size: 22px;
    padding: 5px;
}

#messageInp name{
    font-weight: bold;
}